@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$text: hsl(193, 38%, 86%);
$primary: hsl(150, 100%, 66%);
$lightBG: hsl(217, 19%, 30%);
$darkBG: hsl(217, 19%, 24%);

$fs: 18px;
$ff: 'Manrope', sans-serif;
$fw: 800;
